<div class="container z-depth-1" >
<div class="results_container">
  <h3>Results</h3>
  <i class="red darken-3 small material-icons">search</i>

  <div id="results_list">
    <div class="card" >

    </div>
  </div>
</div>

<div class="search_box">


  <div class="row s12" id="destInput">
    <h4>HalfWay</h4>

      <form class="col s12">

        <div class="row col s12">
          <div class="input-field" id="input-1">
            <input id="dest1" type="text" class="validate destinationInput" name="Destination 1" placeholder = "">
            <label for="dest1">Your Address
            <span class = "red-text" id = "textFlash1"></span>
            </label>

          </div>
        </div>

        <div class="row col s12">
          <div class="input-field" id="input-2">
            <input id="dest2" type="text" class="validate destinationInput" name="Destination 2" placeholder = "">
            <label for="address_2">Your Friend's Address
            <span class = "red-text" id = "textFlash2"></span>
            </label>

          </div>
        </div>
      </form>
  </div>

  <div class="row s12" id="option-select">

    <form action="#" id="travel_mode">
      <div class="row col s12">
        <div class="input-field" >
          <input class="with-gap" name="group1" type="radio" id="transit" checked="checked" value="TRANSIT"/>
          <label class="transport" for="transit">Transit</label>

          <input class="with-gap" name="group1" type="radio" id="walking" value="WALKING"/>
          <label class="transport" for="walking">Walk</label>

          <input class="with-gap" name="group1" type="radio" id="driving" value="DRIVING"/>
          <label class="transport" for="driving">Drive</label>

          <input class="with-gap" name="group1" type="radio" id="bicycling" value="BICYCLING"/>
          <label class="transport" for="bicycling">Bike</label>

        </div>
      </div>
    </form>

    <form action="#" id="place_type">
      <div class="row col s12">
        <div class="input-field">
          <input class="with-gap" name="group2" type="radio" id="restaurant" checked="checked" value="1"/>
          <label class="transport" for="restaurant">Restaurant</label>

          <input class="with-gap" name="group2" type="radio" id="bar" value="2"/>
          <label class="transport" for="bar">Bar</label>

          <input class="with-gap" name="group2" type="radio" id="coffee" value="3"/>
          <label class="transport" for="coffee">Coffee Shop</label>
        </div>
      </div>
    </form>
  </div>

  <div class="row col s12">
      <button class="btn btn-primary red darken-3" id="destSubmitBtn" type="submit">Find Halfway</button>
  </div>

  </div>

<!--  -->
  <button class="my_clip_button btn btn-primary red darken-3" data-clipboard-target="fe_text" data-clipboard-text="Default clipboard text from attribute" id="d_clip_button" title="Copy to Clipboard">
    Copy Link
  </button>

  <textarea cols='50' id='fe_text' rows='3'>Copy me!</textarea>

<!--  -->

</div>
