<div class="container hoverable">
  <div class="row s12" id="destInput">
  <h4>HalfWays</h4>
    <form class="col s12">
      <div class="row col s12">
       <div class="input-field">
         <input id="dest1" type="text" class="validate destinationInput" name="Destination 1">
         <label for="dest1">Your Address</label>
       </div>
     </div>
     <div class="row col s12">
       <div class="input-field">
         <input id="dest2" type="text" class="validate destinationInput" name="Destination 2">
         <label for="address_2">Your Friend's Address</label>
       </div>
     </div>

     <div class="row col s12">


    <div class="row col s12">
       <div class="input-field">
       <select>
        <option value="" disabled selected>Select Option</option>
        <option value="1">Restaurant</option>
        <option value="2">Bar</option>
        <option value="3">Café</option>
      </select>

      </div>
    </div>


    <div class="row col s12">

       <button class="btn btn-primary blue-grey" id="destSubmitBtn" type="submit">Find Halfway</button>
     </div>
   </form>
  </div>
</div>
