<div class="container hoverable">
  <div class="row s12" id="destInput">
  <h4>HalfWays</h4>
    <form class="col s12">
      <div class="row col s12">
       <div class="input-field">
         <input id="dest1" type="text" class="validate destinationInput" name="Destination 1" placeholder = "">
         <label for="dest1">Your Address</label>
       </div>
     </div>
     <div class="row col s12">
       <div class="input-field">
         <input id="dest2" type="text" class="validate destinationInput" name="Destination 2" placeholder = "">
         <label for="address_2">Your Friend's Address</label>
       </div>
     </div>

     <div class="row col s12">


    <div class="row col s12">
       <div class="input-field">
       <select id="place_type">
        <option value="" disabled selected>Where Are You Hanging Out?</option>
        <option value="1">Restaurant</option>
        <option value="2">Bar</option>
        <option value="3">Café</option>
      </select>

      </div>
    </div>

     <div class="row col s12">
       <div class="input-field">
       <select id="travel_mode">
        <option value="" disabled selected>How are you getting there?</option>
        <option value="1">Walking</option>
        <option value="2">Driving</option>
        <option value="3">Transit</option>
      </select>

      </div>
    </div>


    <div class="row col s12">

       <button class="btn btn-primary blue-grey" id="destSubmitBtn" type="submit">Find Halfway</button>
     </div>
   </form>
  </div>
</div>
