<div class="container hoverable">

  <div class="row s12" id="destInput">
    <h4>HalfWays</h4>

      <form class="col s12">

        <div class="row col s12">
          <div class="input-field">
            <input id="dest1" type="text" class="validate destinationInput" name="Destination 1" placeholder = "">
            <label for="dest1">Your Address</label>
          </div>
        </div>

        <div class="row col s12">
          <div class="input-field">
            <input id="dest2" type="text" class="validate destinationInput" name="Destination 2" placeholder = "">
            <label for="address_2">Your Friend's Address</label>
          </div>
        </div>
      </form>
  </div>

  <div class="row s12" id="option-select">

    <form action="#" id="travel_mode">
      <div class="row col s12">
        <div class="input-field" >
          <input class="with-gap" name="group1" type="radio" id="walking" value="1"/>
          <label class="transport" for="walking">Walking</label>

          <input class="with-gap" name="group1" type="radio" id="driving" value="2"/>
          <label class="transport" for="driving">Driving</label>

          <input class="with-gap" name="group1" type="radio" id="transit" value="3"/>
          <label class="transport" for="transit">Public Transport</label>
        </div>
      </div>
    </form>

    <form action="#" id="place_type">
      <div class="row col s12">
        <div class="input-field">
          <input class="with-gap" name="group1" type="radio" id="restaurant" value="1"/>
          <label class="transport" for="restaurant">Restaurant</label>

          <input class="with-gap" name="group1" type="radio" id="bar" value="2"/>
          <label class="transport" for="bar">Bar</label>

          <input class="with-gap red darken-3" name="group1" type="radio" id="coffee" value="3"/>
          <label class="transport" for="coffee">Coffee Shop</label>
        </div>
      </div>
    </form>
  </div>

  <div class="row col s12">
      <button class="btn btn-primary red darken-3" id="destSubmitBtn" type="submit">Find Halfway</button>
  </div>

</div>
