<div id="left_nav_bar">
  
	<div class="icons" id="menu_icon">
		<a href="#" data-activates="slide-out" class="button-collapse">
			<i class=" small material-icons mdi-navigation-menu">star</i>
		</a>
	</div>

	
  	<div class="icons" id="bottom"><i class=" small material-icons">assignment_ind</i> </div>
  	
	<div class="icons" id="bottom">
    <% if current_user %>
      <a href='/signout'><i class="small material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Sign Out">power_settings_new</i></a>
    <%else %>
		  <a href='/auth/google'><i class="small material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Sign In">power_settings_new</i></a>
    <% end %>
	</div>


 

</div>  <!-- left static nav bar -->

<div>
	<ul class="hide-on-med-and-down">
    	<li><a href="#!"></a></li>
    	<li><a href="#!"></a></li>
 	</ul>
	<ul id="slide-out" class="side-nav fixed">
      <li class="bold"><a href="#!" class="waves-effect waves-teal">Restuarants</a></li>
      <li class="bold"><a href="#!" class="">Bars</a></li>
      <li class="bold"><a href="#!" class="">Coffee Shops</a></li>
    </ul>
</div>




  