<div id="left_nav_bar">
  
	<div class="icons" id="menu_icon">
		<a href="#" data-activates="slide-out" class="button-collapse">
			<i class=" small material-icons mdi-navigation-menu">reorder</i>
		</a>
	</div>

	<div class="icons" id="fav_icon">
	
  </div>

	<div class="icons" id="sign_in_icon">
    <% if current_user %>
      <a href='/signout'><i class="small material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Sign Out">power_settings_new</i></a>
    <%else %>
		  <a href='/auth/google'><i class="small material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Sign In">power_settings_new</i></a>
    <% end %>
	</div>

 

</div>  <!-- left static nav bar -->

