<div id="left_nav_bar">
	<div class="icons" id="menu_icon">
		<a href="#" data-activates="slide-out" class="button-collapse">
			<i class=" small material-icons mdi-navigation-menu">reorder</i>
		</a>
	</div>
	<div class="icons" id="fav_icon">
		<i class="small material-icons">star</i>
	</div>
	<div class="icons" id="sign_in_icon">
		<i class="small material-icons">power_settings_new</i>
	</div>
	
</div>


<nav>
  <ul class="hide-on-med-and-down">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <ul id="slide-out" class="side-nav fixed">
      <li class="bold"><a href="#!" class="waves-effect waves-teal">First Sidebar Link</a></li>
      <li class="bold"><a href="#!" class="">Second Sidebar Link</a></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect waves-teal">Dropdown<i class="mdi-navigation-arrow-drop-down"></i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="#!">First</a></li>
                <li><a href="#!">Second</a></li>
                <li><a href="#!">Third</a></li>
                <li><a href="#!">Fourth</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
</nav>