<div id="left_nav_bar">
	<div class="icons" id="menu_icon">
		<i class=" small material-icons">reorder</i>
	</div>
	<div class="icons" id="fav_icon">
		<i class="small material-icons">star</i>
	</div>
	<div class="icons" id="sign_in_icon">
		<i class="small material-icons">power_settings_new</i>
	</div>
	
</div>