




<!-- <div class="results_container"> -->
  <!-- container for everything -->

<!-- add front of card here -->




<!-- this is back of card that populates on search -->
<!-- <div id="results_list">
  <div class="card" >

  </div>
</div> -->






<!-- </div> -->



<!-- </div> -->
    <!-- <div class="result">+


      <h4 class="place_name">+place.name+</h4>
      <img src="'+place.icon+'" alt="" />
      <ul class="collection">
      <li>+place.opening_hours</li>
      <li>place.formatted_address</li>
      <li>place.rating</li>
      <li>place.price_level</li>
      <button class = "favoriteButton">Fav!</button>



    </div> -->
