
<div class="results-container">
<!-- container for everything -->
<!-- add front of card here -->
<!-- this is back of card that populates on search -->
  <div id="results_list">
    <div class="card" >

    </div>
  </div>
</div>

