<!--this is just here for reference when styling -->

<div class="result">+
  <h4 class="place_name">+place.name+</h4>
  <img src="'+place.icon+'" alt="" />
  <ul>
  <li class="hours">+place.opening_hours</li>
  <li class="address">place.formatted_address</li>
  <li class="rating">place.rating</li>
  <li class="price">place.price_level</li>
  <button class = "favoriteButton">Fav!</button>
</div>
