<div style = "position: fixed; bottom: 0px; background: lightyellow; z-index: 1; width: 100vw;">
<% if current_user %>
  <%="Welcome #{current_user.first_name}!"%>
  <%=link_to "Sign out","/signout"%>
  <hr>
<%else %>
  <%=link_to "Sign in with Google", "/auth/google" %>
<% end %>
</div>


