<div id="map"></div>

<!-- <div id="destInput">
<input class="destinationInput" id="dest1" type="text" name="Destination 1">
<br>
<input class="destinationInput" id="dest2" type="text" name="Destination 2">
<button id="destSubmitBtn" type="submit">Find Halfway</button>
</div> -->


<%= render "menu" %>
