<div id="map"></div>

<div id="destInput">
<!-- <input class="destinationInput" id="dest1" type="text" name="Destination 1">
<br>
<input class="destinationInput" id="dest2" type="text" name="Destination 2"> -->

<div id="locationField">
      <input id="dest1" placeholder="Enter your address"
             onFocus="" type="text"></input>

    </div>

<button id="destSubmitBtn" type="submit">Find Halfway</button>
</div>
