<div id="map" style=""></div>

<div class="post_fav">
  <%= render "navbar" %>
</div>

<div id="menu_container">

	<div id="preloader" style="display:none">
		<%= render "preloader" %>
	</div>

	<div id ="show_results">
	</div>

	<%= render "menu" %>
</div>

<div id="logo">
  <img id="hw_logo" src="<%=asset_path('hw_logo.png')%>">

</div>
