// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
 height: 100%;
 width: 100%;
}

#map{
 width: 100%;
 height: 100%;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 0;
}

.container {
<<<<<<< HEAD
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: rgba(255, 255, 255, 0.8);

  width: 25em;

=======
 position: absolute;
 top: 100px;
 left: 100px;
 background-color: rgba(255, 255, 255, 0.8);

 width: 25em;

>>>>>>> 6e703cca4bbbba54c76a0976b4020086e900c519
}

h4 {
 font-weight: 300;
 padding-left: 30%;
}

#destInput {

<<<<<<< HEAD
    margin: 30px auto;
=======
   margin: 30px auto;
>>>>>>> 6e703cca4bbbba54c76a0976b4020086e900c519
}

h4 {
 font-weight: 300;
 padding-left: 32%;
}



.destinationInput {
}


.destinationInput {
 // margin: 0px auto;
}

#destSubmitBtn {
<<<<<<< HEAD
  margin-left: 25%;
=======
 margin-left: 25%;
>>>>>>> 6e703cca4bbbba54c76a0976b4020086e900c519
}
