// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map{
 width: 100vw;
 height: 100vh;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 0;
}

#logo{
  top: 25px;
  right: 25px;
  position: absolute;
}

#hw_logo{
   height: 79px;
}
