
#left_nav_bar {
    position: fixed;
    width: 50px;
    background-color: #c62828;
    height: 100%;
    top: 0px;
    z-index: 200000;
}

.side-nav.fixed {
  padding-left:50px;
}

.material-icons {
	color: #fff;

	
}

.icons {
	position: relative;
	text-align: center;
	margin: 10px;
}

#bottom{
	top:80%;
}

