
#left_nav_bar {
    position: fixed;
    width: 50px;
    background-color: #c62828;
    height: 100%;
    top: 0px;
}

.side-nav.fixed {
  padding-left:50px;
}

.material-icons {
	color: #fff;
}

.icons {
	position: relative;
	text-align: center;
	margin: 10px;
}

#emptyIcon{
  height: 30px;
}


#bottom{
  top: 20%;
	top: 20px;
}

.favorite_item{
  margin: 8px;
  padding: 0;
  height: 140px;
  line-height: 120%;
  position: relative;
}


.favLeft{
  display: inline-block;
  float: left;


}
.favRight{
  display: inline-block;
  float: right;
}

//Menu needs to be wider to house the list of favorites
//when category clicked, want list to expand with favorites
//Profile icon should show user profile... somehow?
