
#menu_container{
  position: fixed;
  top: 50px;
  left: 100px;
  // background-color: rgba(255, 255, 255, 0.87);
  width: 25em;
  height: 80vh;
  overflow: scroll;
  z-index: 1;
}

#backbutton {
  padding-left: 79px;
  float: left;
  padding-top: 9px;
}

.back-button{
  background-color: #e64c3c;
}

#results {
  font-weight: 300;
  padding-left: 125px;
  color: #0e0e0e;
  padding-top: 9px;
  padding-bottom: 9px;
}

.result-title-link {
  color: #000;
}

.result-title-link:hover {
  color: #e64c3c;
}

.place-title {
  display: inline;
  padding-left: 3%;
  font-size: 19px;
  font-weight: 300;
  padding-top: 8px;
  color: #0e0e0e;
}

.place_icon{
  height: 50px;
  width: 50px;
  display: inline;
  padding: 10px 0px 0px 10px;
  // padding-top: 5px;
  // padding-left: 10px;
}


.results_container {
  // position: absolute;
  // top: 50px;
  // left: 100px;
  background-color: rgba(255, 255, 255, 0.87);
  width: 25em;
  height:100%;
  overflow: scroll;
  //display:none;
  // z-index: 12;
}

// #fixed {
//   position: fixed;
//   top:100px;
// }

#d_clip_button {
  background-color: #e64c3c;
}


.favorite-button {
  background-color: #e64c3c;
}

.place-info {
  display: inline;
  width: 200px;
  padding-left: 10px;
  font-size: 1em;
  color: #6f6d6d
}

.hour-text {
  width: 100%;
  display: block;
}

#save {
  padding-left: 57px;
  padding-top: 37px;
}

#share {
  padding-left: 18px;
  padding-top:39px;
}

.time-text {
     color: #6f6d6d;
    background-color: rgba(255, 255, 255, -0.13);
}

#show_results{
  display: none;
}
