<!DOCTYPE html>
<html>
  <head>
    <title>WdiProject3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo10XRjjnGxAxHfKIjE2pLZVChPiC_Cn0&callback=initMap"
async defer></script>
</html>
